body{
	background: #F73B51;
	color: #A99FA0;
}

#mainpage{
	position: relative;
}
.outer-container{
	padding: 5% 0;
}
.inner-container{
	/*margin: 5% 0;*/
    background: #fff;
}
#content-wrapper{
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(179, 43, 59, 1), 0 6px 20px 0 rgba(179, 43, 59, 1);
}
.navbar-default{
	background: none;
	border: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background: transparent;
}
.container-fluid {
    padding: 0;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	margin-left: -15px;
	margin-right: -15px;
}
#main-navigation{
	-webkit-transition: all .4s ease 0s;
    /* transition: all .4s ease 0s; 
    padding: 15px 0;*/
    min-height: 90px;
}
#main-navigation li a {
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 15px 15.78px;
    /*line-height: 2.5em;
    font-weight: 700;*/
}
.navbar{
	margin-bottom: 0px;
}
.navbar-nav {
	margin: 7.5px -15px;
}
.navbar-nav {
    margin: 7.5px 0 7.5px -15px;
}
.navbar-nav>li{
	padding: 0 5.5px;
}
.navbar-nav>li:first-child{
	padding-left: 0px;
}
.navbar-nav>li:last-child{
	padding-right: 0px;
}
/*#main-navigation li {
	margin-bottom: 10px;
}*/
.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f73b51;
    transition: width .3s;
}
.link:hover::after, .link:focus::after, .link:active::after {
    width: 100%;
    /*transition: width .3s;*/
}
.col-md-12, .col-sm-4{
	padding: 0;
}
.row {
	margin: 0;
}
.bg-white{
	background: #fff;
}
#contact-form{
	padding: 5% 12%;
	padding: 5% 5%;
}
/*.outer-container{
	margin: 20% 30%;
}*/
#image-section{
	background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
#cforms .row{
	margin: 0 -15px;
}
#cforms .col-sm-6{
	padding:0 15px;
}
.form-group{
	margin-bottom: 15px !important;
}
h3{
	color: #f73b51;
    font-weight: 700;
    margin-bottom: 10%;
    letter-spacing: .08em;
}
h4{
	color: #f73b51;
    font-weight: 700;
    margin: 10% 0 5% 0;
    letter-spacing: .05em;
}
#formmessage{
	margin-left: 20px;
}
label{
	text-transform: uppercase;
	font-size: .8em;
	color: rgba(0,0,0,.7);
	font-weight: 800;
}
input[type=text], textarea{
	font-size: .9em;
    /*color: #f73b51;*/
   padding: 10px 10px 10px 12px;
    /* text-align: center; */
    border: none;
    background: rgba(204,204,204,.3);
}
textarea{
	padding: 10px 10px 10px 12px !important; 
	font-size: .9em !important;
}
#formmessage #msg{
	margin-bottom: 0 !important;
}
input[type=reset]{
	background: transparent;
    border: none;
    color: #4f4f4f;
    font-weight: 700;
    padding: 5px 30px;
    margin-left: 10px;
}
#clearbtn {
	margin-right: 1.5px;
	margin-left: 0;
}
textarea:focus, input:focus, input[type]:focus {   
    border-color: rgba(204,204,204,.4);
   box-shadow: 0 1px 1px rgba(204,204,204,.5), 0 0 8px rgba(204,204,204,.5);
    /* border: 1px solid; */
    background: transparent;
    outline: 0 none;
}
/*textarea:focus, input:focus, input[type]:focus ::-webkit-input-placeholder {
   color: #f73b51;
}

textarea:focus, input:focus, input[type]:focus :-moz-placeholder { /* Firefox 18- 
   color: #f73b51;  
}

textarea:focus, input:focus, input[type]:focus ::-moz-placeholder {  /* Firefox 19+
   color: #f73b51;  
}

textarea:focus, input:focus, input[type]:focus :-ms-input-placeholder {  
   color: #f73b51;  
}*/
textarea:focus input::placeholder, input:focus input::placeholder, input[type]:focus input::placeholder{
	color: #f73b51;
}
/*input:focus{
	border:2px solid #ccc;
	color: #f73b51;
	background: transparent;
}*/
.form-buttom {
    color: #fff;
    border: 2px solid #f73b51;
    /* font-size: 14px; */
    background: #f73b51;
    /* background: 0 0; */
    border-radius: 4px;
    border: 2px solid #fff;
    font-weight: 700;
    margin-top: 35px;
    min-width: 130px;
    padding: 7px 55px;
    text-decoration: none;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
}
input[type=reset]:hover{
	text-decoration: none;
    color: #fff;
    background: #f73b51;
    border: 2px solid #f73b51;
    border-radius: 4px;
}
input[type=submit]:hover{
	text-decoration: none;
    color: #000;
    background: #fff;
    border: 2px solid #f73b51;
}
.form-control{
	box-shadow: none;
	background: rgba(204,204,204,.3);
	border: none;
}
i{
	font-size: 2em !important;
}
#file-upload span{
	margin-left: 15px;
	font-size: .87em;
}
#contact-deets{
	padding: 50px 0;
}
#contact-deets .col-sm-8{
	text-align: right;
}
.social-list{
	display: flex;
	list-style: none;
	float: right;
}
#contact-deets i{
	color: #f73b51;
}
#contact-deets span{
	color: rgba(0,0,0,.7);
    font-weight: 700;
    margin-left: 10px;
    font-size: 1.11em;
}
.slider-buttons {
	background: none;
    position: relative;
    /* margin: 10% 20% 12% 20%; */
    margin: 0;
}
.slider-buttons ul{
	position: relative;
    z-index: 2;
    color: #f73b51;
    list-style: none;
    text-align: right;
}
.slider-buttons li{
	display: inline-block;
    background: #fbadb6;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}
.current{
	background: #f43148 !important;
}
.social-list li{
	background: #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 1em .5em;
}
.social-list i {
    color: #000;
    font-size: 1em !important;
    padding: .2em;
}
